<!DOCTYPE html>
<html>
  <head>
    <title>DebtFredom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/png" sizes="32x32" href="<%=asset_path('favicon.png')%>">  

  </head>

  <body>
    <%= yield %>
    <%=render "shared/footer"%>
    <%= yield :javascript%>
    <script>
(function(arg) {
    var _pxl = document.createElement("script");
    _pxl.type = "text/javascript";
    _pxl.defer = true;
    _pxl.setAttribute('data-hmtrackerscriptquery', JSON.stringify(arg));
    _pxl.src = "https://leads-inst47-client.phonexa.uk/hitmetrix/analize.js?v=33a4719a1d9bf2c";
    document.getElementsByTagName("head")[0].appendChild(_pxl);
})({"token": "8467e3895a6cefd85585ecc135404ab81bf1a76a"});
</script>

  </body>
</html>
