<!DOCTYPE html>
<html>
  <head>
    <title>DebtFredom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    # <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/png" sizes="32x32" href="<%=asset_path('favicon.png')%>">  

  </head>

  <body>
    <%= yield %>
    <%=render "shared/footer"%>
  </body>
</html>
